.universe-map-box {
  position: relative;
}
.universe-map {
  width: 400px;
  height: 400px;
  border-spacing: 0;
  border: 1px solid #ddd;
}
.universe-map > tr > td {
  position: relative;
  background: #eee;
  transition: 0.2s;
  box-shadow: 
    1px 0 #ddd inset, 
    -1px 0 #ddd inset,
    0 1px #ddd inset,
    0 -1px #ddd inset;
}
.universe-map > tr > td.picked {
  animation-duration: 1s;
  animation-name: twinkle;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
}
@keyframes twinkle {
  from {
    background-color: #eee;
  }
  50% {
    background-color: #f88;
  }
  to {
    background-color: #eee;
  }
}
.cell-picker {
  display: flex;
  flex-direction: column;
  width: 190px;
  height: 90px;
  background-color: white;
  border: 1px solid black;
  padding: 5px;
}
.cell-picker > .ok-button {
  margin: 5px 10px 0 10px;
  flex-grow: 1;
}
.picker-top {
  position: relative;
  margin-bottom: 5px;
}
.picker-top > .close-button{
  position: absolute;
  right: 0;
  border: none;
  background: none;
}
.universe-map > tr > td.valid {
  box-shadow: none;
  background-color: aquamarine;
}
.universe-map > tr > td.grown.special {
  box-shadow:0 0 3px #f00 inset;
}
.universe-map > tr > td.grown {
  z-index: 1;
}
.clear {
  opacity: 0.3;
}
.cell-picker {
  position: absolute;
}
.cell-picker.hidden { 
  display: none;
}
.nebula-title {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50%;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  transform: translate(-50%, -50%) scale(0.5);
  width: 180%;
}