body {
    max-width: 100%;
    margin: 0;
    overflow-x: hidden;
    padding: 5px;
}
* {
    font-family: sans-serif;
}
.main-view {
    display: flex;
    justify-content: center;
}
.current-window-switch-box {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.current-window-switch-box > * {
    margin: 0 3px 0 3px;
    border: 1px solid steelblue;
    background-color: white;
    color: steelblue;
    transition: 0.3s;
}
.current-window-switch-box > .selected {
    background-color: steelblue;
    color: white;
}
.switch-box-hider {
    display: flex;
    position: relative;
    height: 40px;
    overflow-y: hidden;
    justify-content: center;
}
.current-second-window-switch-box {
    position: absolute;
    top: 0;
    transition: 0.2s;
}
.switch-box {
    display: flex;
    padding: 0;
    margin-bottom: 10px;
    justify-content: center;
}
.switch-box > * {
    display: inline-block;
    list-style: none;
    padding: 5px;
    border: 1px solid #ccc;
    border-right: none;
    transition: 0.2s;
}
.switch-box > .selected {
    background: #ddd;
}
.switch-box > :first-child {
    border-radius: 10px 0 0 10px;
}
.switch-box > :last-child {
    border-radius: 0 10px 10px 0;
    border-right: 1px solid #ccc
}