.nebula-editor > .current-opened-tabs {
    display: flex;
}
.nebula-editor > .current-opened-tabs > .opened-tab{
    display: flex;
    background-color: #eee;
    padding: 5px;
    border-radius: 3px;
}
.nebula-editor > .current-opened-tabs > .opened-tab > .close-button{
    border: none;
    background: none;
}
.tree-import-map {
    height: 300px;
}
.nebula-palette-opener {
    height: 100%;
    width: 100px;
}
.importer-arrow {
    width: 40px;
    height: 20px;
    clip-path: polygon(0 25%, 75% 25%, 75% 0, 100% 50%, 75% 100%, 75% 75%, 0 75%);
    border: none;
    margin: 0 5px 0 5px;
    background: #ccc;
}