.common-nebula-map {
    position: relative;
}
.universe-title {
    text-align: center;
    font-size: large;
}
.view-point-changer-x {
    width: 400px;
}
.view-point-changer-y {
    position: absolute;
    top: 0;
    right: -5px;
    appearance: slider-vertical;
    width: 16px;
    height: 400px;
    transform: translateX(100%) rotate(180deg);
}