body {
  max-width: 100%;
  margin: 0;
  overflow-x: hidden;
  padding: 5px;
}
.universe-map-box {
  position: relative;
}
.universe-map {
  width: 400px;
  height: 400px;
  border-spacing: 0;
  border: 1px solid #ddd;
}
.universe-map > tr > td {
  position: relative;
  background: #eee;
  transition: 0.2s;
  box-shadow: 
    1px 0 #ddd inset, 
    -1px 0 #ddd inset,
    0 1px #ddd inset,
    0 -1px #ddd inset;
}
.universe-map > tr > td.picked {
  animation-duration: 1s;
  animation-name: twinkle;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
}
@keyframes twinkle {
  from {
    background-color: #ff000000;
  }
  50% {
    background-color: #ff000066;
  }
  to {
    background-color: #ff000000;
  }
}
.cell-picker {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 100px;
  background-color: white;
  border: 1px solid black;
}
.cell-picker > .ok-button {
  margin: 5px 10px 0 10px;
}
.picker-top {
  position: relative;
}
.picker-top > .close-button{
  position: absolute;
  right: 5px;
}
.universe-map > tr > td.valid {
  box-shadow: none;
}
.universe-map > tr > td.grown.special {
  box-shadow:0 0 3px #f00 inset;
}
.universe-map > tr > td.grown {
  z-index: 1;
}
.clear {
  opacity: 0.3;
}
.cell-picker {
  position: absolute;
}
.cell-picker.hidden { 
  display: none;
}
.nebula-title {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50%;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  transform: translate(-50%, -50%) scale(0.5);
  width: 180%;
}
.universe-window-box > *:not(.current-window){
  display: none;
}
* {
  font-family: sans-serif;
}
.switch-box{
  padding: 0;
}
.switch-box > li {
  display: inline-block;
  list-style: none;
  padding: 5px;
  border: 1px solid #ccc;
  border-right: none;
  transition: 0.2s;
}
.switch-box > .selected {
  background: #ddd;
}
.switch-box>:first-child{
  border-radius: 10px 0 0 10px;
}
.switch-box>:last-child{
  border-radius: 0 10px 10px 0;
  border-right: 1px solid #ccc
}