.universe-map {
  border-spacing: 0;
  width: 400px;
  height: 400px;
}
.universe-map > tr > td {
  position: relative;
  background: #eee;
  transition: 0.2s;
  box-shadow: 
    1px 0 #ddd inset, 
    1px 0 #ddd inset,
    0 1px #ddd inset,
    0 -1px #ddd inset;
}
.universe-map > tr > td.valid {
  box-shadow: none;
}
.universe-map > tr > td.selected-cell {
  box-shadow:
    0 0 3px #f00 inset;
}
.clear {
  opacity: 0.6;
}
.nebula-title {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50%;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  transform: translate(-50%, -50%) scale(0.5);
  width: 180%;
}
.universe-window-box > *:not(.current-window){
  display: none;
}
* {
  font-family: sans-serif;
}
.switch-box{
  padding: 0;
}
.switch-box > li {
  display: inline-block;
  list-style: none;
  padding: 5px;
  border: 1px solid #ccc;
  border-right: none;
  transition: 0.2s;
}
.switch-box > .selected {
  background: #ddd;
}
.switch-box>:first-child{
  border-radius: 10px 0 0 10px;
}
.switch-box>:last-child{
  border-radius: 0 10px 10px 0;
  border-right: 1px solid #ccc
}