.zoom-button {
    height: 25px;
    margin-bottom: 5px;
}
.common-nebula-map {
    position: relative;
    padding: 20px;
}
.common-nebula-map > .view {
    display: flex;
    width: 100%;
    max-width: 1100px;
}
.common-nebula-map .main {
    position: relative;
    top: 20px;
}
.common-nebula-map .side {
    flex-grow: 1;
}
.universe-map-container {
    position: relative;
}
.relation-mark-box {
    display: flex;
}
.relation-mark {
    position: relative;
    width: 30px;
    height: 30px;
}
.relation-mark-background {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 20px;
    height: 20px;
    background: #ddd;
    transform: rotate(45deg);
    transition: 0.2s;
    cursor: pointer;
}
.relation-mark-id {
    position: absolute;
    top: 50%;
    left: 0;
    width: 30px;
    text-align: center;
    transform: translateY(-50%);
    font-size: 12px;
    pointer-events: none;
}
.selected > .relation-mark-background {
    transform: rotate(0);
}
.universe-map-box > .universe-map-popup{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    transition: 0.6s;
}
.universe-map-box > .universe-map-popup.visible{
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
.common-nebula-map > .bottom-bar { 
    position: relative;
}
.common-nebula-map > .bottom-bar > .instant-button-box{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
}
.common-nebula-map > .bottom-bar > .tool-box {
    display: block;
}
.universe-title {
    font-size: large;
}
.view-point-changer-x {
    width: 400px;
}
.view-point-changer-y {
    position: absolute;
    top: 0;
    left: -36px;
    writing-mode: vertical-lr;
    width: 16px;
    height: 400px;
    transform: translateX(100%) rotate(180deg);
}